@import 'https://fonts.googleapis.com/css?family=Oswald';

html, body {
  background: linear-gradient(to left, #093c93 , #60b0ff);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
}

h1 {
  color: #fff;
  font-size: 5vw;
  letter-spacing: 6px;
}

.pad {
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  width: 150px;
  height: 150px;
  margin: 10px 0;
  box-shadow: 0 8px 6px -6px black;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: rgb(0, 24, 179);
  user-select: none;
  
 
}

.active {
  background-color: darken(#444, 10%);
  transform: scale(1.1);
  transition: all .2s;
}

.pad-1, .pad-2, .pad-3, .pad-4, .pad-5, .pad-6, .pad-7, .pad-8, .pad-9 { 
  border: 2px solid #ffffff; 
}

#play-button-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.play-button {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fff;
  transition: clip-path .3s ease;
}
.play-button-before {
  clip-path: polygon(0 0, 50% 25%, 50% 75%, 0% 100%);
}
.play-button-after {
  clip-path: polygon(50% 25%, 100% 50%, 100% 50%, 50% 75%);
}
#play-button-container:hover .play-button-before {
  clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
}
#play-button-container:hover .play-button-after{
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 70% 100%)
}
